#mytitle {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 6em;
}

#undertitle {
    display: flex;
    justify-content: center;
    color: lawngreen;
    font-size: 1.8em;
}

.rounded {
    width: 17em;
    height: 8em;
    background-color: green;
    border-style: solid;
    border-color: lightgreen;
    border-width: 0.2em;
    margin-left: 25em;
}

.rounded:nth-of-type(odd) {
    /* margin-left: 2em; */
    margin-bottom: 5em; 
    margin-top: 2.5em; 
}

.rounded:nth-of-type(even) {
    margin-left: 5em;
}

body {
    background-color: black;
}